<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Attendances</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-100 flex flex-col h-screen ">
    <div class="flex flex-col justify-center items-center mt-6" style="margin-left: 440px;">
      <form
        id="filter_form"
        action="{{ url_for('views.filter_attendancesADMIN') }}"
        method="POST"
        class="w-full max-w-md"
      >
        <div class="mb-4">
          <label
            for="course_id"
            class="block text-gray-700 text-sm font-bold mb-2"
            >Course ID:</label
          >
          <input
            type="text"
            id="course_id"
            name="course_id"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          />
        </div>
        <div class="mb-4">
          <label
            for="attendance_date"
            class="block text-gray-700 text-sm font-bold mb-2"
            >Attendance Date:</label
          >
          <input
            type="date"
            id="attendance_date"
            name="attendance_date"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          />
        </div>
        <div class="flex justify-center items-center justify-between">
          <button
            type="submit"
            class="button-bg hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          >
            Filter
          </button>
        </div>
      </form>
      <div id="results" class="mt-6 w-full max-w-2xl"></div>
    </div>
  </body>

  <script>
    $(document).ready(function () {
      $("#filter_form").submit(function (event) {
        event.preventDefault(); // Formun normal gönderilmesini engelle

        $.post($(this).attr("action"), $(this).serialize(), function (data) {
          let tableContent =
            '<table class="min-w-full bg-white"><thead><tr><th class="py-2">Course ID</th><th class="py-2">Student ID</th><th class="py-2">Attendance Date</th></tr></thead><tbody>';
          data.forEach((attendance) => {
            tableContent += `<tr><td class="border px-4 py-2">${attendance.course_id}</td><td class="border px-4 py-2">${attendance.student_id}</td><td class="border px-4 py-2">${attendance.attendance_date}</td></tr>`;
          });
          tableContent += "</tbody></table>";
          $("#results").html(tableContent);
        });
      });
    });
  </script>
</html>
